<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ngajicoding.tedipermana"
    android:installLocation="preferExternal">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <!-- The Agora SDK requires Bluetooth permissions in case users are using Bluetooth devices. -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Alarm Notifikasi -->

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Dasboard.HomeUser.HomeUserActivity" />
        <activity android:name=".SplashschreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Profile.ProfilActivity" />
        <activity android:name=".Alquran.AlquranActivity" />
        <activity android:name=".Edukasi.EdukasiActivity" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".Edukasi.Materitips1Activity" />
        <activity android:name=".Edukasi.TipsActivity" />
        <activity android:name=".Edukasi.Keutamann14Activity" />
        <activity android:name=".Edukasi.AdabActivity" />
        <activity android:name=".Login.Login_HomeUser.LoginActivity" />
        <activity android:name=".Login.Login_HomeUser.RegisterSantriOneActivity" />
        <activity android:name=".Alquran.QsJuz_29Activity" />
        <activity android:name=".Alquran.QsJuz_30Activity" />
        <activity android:name=".Alquran.DataQuranJuz29.Qs_almulk_67Activity" />
        <activity android:name=".DataQuiz.QuizActivity" />
        <activity android:name=".DataQuiz.Score.HighestScoreActivity" />
        <activity android:name=".Setoran.Hafalan.HafalanActivity" />
        <activity android:name=".Aktipitas.AktifitasActivity" />
        <activity android:name=".Musyawarah.ChatActivity" />
        <activity android:name=".Musyawarah.ObrolanActivity" />
        <activity android:name=".Musyawarah.KontakActivity" />
        <activity android:name=".Setoran.SetoranSabaq.SabaqActivity" />
        <activity android:name=".Setoran.SetoranSabqi.SabqiActivity" />
        <activity android:name=".Setoran.SetoranManzil.ManzilActivity" />
        <activity android:name=".Musyawarah.CallActivity" />
        <activity android:name=".Aktipitas.RememberActivity" />
        <activity android:name=".Aktipitas.WaktuActivity" />
        <activity android:name=".Musyawarah.ChatroomActivity" />
        <activity android:name=".Alquran.DataQuranJuz29.Qs_alqallam_68Activity" />
        <activity android:name=".SetoranHafalanActivity" />
        <activity android:name=".DataQuiz.QuizJuz29.AlqallamQuizActivity" />
        <activity android:name=".Alquran.DataQuranJuz29.Qs_alhaqah_69Activity" />
        <activity android:name=".Hadis_AlquranActivity" />
        <activity android:name=".DataQuiz.QuizJuz29.AlhaqqahQuizActivity" />
        <activity android:name=".DataQuiz.QuizJuz29.AlmaarijQuizActivity" />
        <activity android:name=".Alquran.DataQuranJuz29.Qs_almaarij_70Activity" />
        <activity android:name=".Alquran.DataQuranJuz29.Qs_nuh_71Activity" />
        <activity android:name=".Alquran.DataQuranJuz29.Qs_aljin_72Activity" />
        <activity android:name=".Alquran.DataQuranJuz29.Qs_almuzzammil_73Activity" />
        <activity android:name=".Alquran.DataQuranJuz29.Qs_almuddasir_74Activity" />
        <activity android:name=".Alquran.DataQuranJuz29.Qs_alqiyamah_75Activity" />
        <activity android:name=".Alquran.DataQuranJuz29.Qs_alinsan_76Activity" />
        <activity android:name=".Alquran.DataQuranJuz29.Qs_almursalat_77Activity" />
        <activity android:name=".DataQuiz.QuizJuz29.NuhQuizActivity" />
        <activity android:name=".DataQuiz.Score.NuhscoreActivity" />
        <activity android:name=".DataQuiz.QuizJuz29.AljinQuizActivity" />
        <activity android:name=".DataQuiz.QuizJuz29.AlmuzzammilQuizActivity" />
        <activity android:name=".DataQuiz.QuizJuz29.AlmuddassirQuizActivity" />
        <activity android:name=".DataQuiz.QuizJuz29.AlqiyamahQuizActivity" />
        <activity android:name=".DataQuiz.QuizJuz29.AlinsanQuizActivity" />
        <activity android:name=".DataQuiz.QuizJuz29.AlmursalatQuizActivity" />
        <activity android:name=".Alquran.DataQuranJuz30.Qs_annaba_78Activity" />
        <activity android:name=".Alquran.DataQuranJuz30.Qs_annaziat_79Activity" />
        <activity android:name=".Alquran.DataQuranJuz30.Qs_abasa_80Activity" />
        <activity android:name=".Alquran.DataQuranJuz30.Qs_attakwir_81Activity" />
        <activity android:name=".Alquran.DataQuranJuz30.Qs_alinfitar_82Activity" />
        <activity android:name=".Alquran.DataQuranJuz30.Qs_almuthafifin_83Activity" />
        <activity android:name=".Alquran.DataQuranJuz30.Qs_alinsyiqaq_84Activity" />
        <activity android:name=".Alquran.DataQuranJuz30.Qs_alburuj_85Activity" />
        <activity android:name=".Alquran.DataQuranJuz30.Qs_attariq_86Activity" />
        <activity android:name=".Alquran.DataQuranJuz30.Qs_alala_87Activity" />
        <activity android:name=".Alquran.DataQuranJuz30.Qs_alqhasiyah_88Activity" />
        <activity android:name=".Alquran.DataQuranJuz30.Qs_alfajr_89Activity" />
        <activity android:name=".Alquran.DataQuranJuz30.Qs_albalad_90Activity" />
        <activity android:name=".Alquran.DataQuranJuz30.Qs_asysyams_91Activity" />
        <activity android:name=".Alquran.DataQuranJuz30.Qs_allail_92Activity" />
        <activity android:name=".Alquran.DataQuranJuz30.Qs_adhuha_93Activity" />
        <activity android:name=".Alquran.DataQuranJuz30.Qs_alinsyirah_94Activity" />
        <activity android:name=".Alquran.DataQuranJuz30.Qs_attin_95Activity" />
        <activity android:name=".Alquran.DataQuranJuz30.Qs_alalaq_96Activity" />
        <activity android:name=".Alquran.DataQuranJuz30.Qs_alqadr_97Activity" />
        <activity android:name=".Alquran.DataQuranJuz30.Qs_albayinah_98Activity" />
        <activity android:name=".Alquran.DataQuranJuz30.Qs_alzalzalah_99Activity" />
        <activity android:name=".Alquran.DataQuranJuz30.Qs_aladiyat_100Activity" />
        <activity android:name=".Alquran.DataQuranJuz30.Qs_alqariah_101Activity" />
        <activity android:name=".Alquran.DataQuranJuz30.Qs_attkasur_102Activity" />
        <activity android:name=".Alquran.DataQuranJuz30.Qs_alasr_103Activity" />
        <activity android:name=".Alquran.DataQuranJuz30.Qs_qlhumazah_104Activity" />
        <activity android:name=".Alquran.DataQuranJuz30.Qs_alfil_105Activity" />
        <activity android:name=".Alquran.DataQuranJuz30.Qs_alqurais_106Activity" />
        <activity android:name=".Alquran.DataQuranJuz30.Qs_almaun_107Activity" />
        <activity android:name=".Alquran.DataQuranJuz30.Qs_alkautsar_108Activity" />
        <activity android:name=".Alquran.DataQuranJuz30.Qs_alkqfirun_109Activity" />
        <activity android:name=".Alquran.DataQuranJuz30.Qs_annasr_110Activity" />
        <activity android:name=".Alquran.DataQuranJuz30.Qs_allahab_111Activity" />
        <activity android:name=".Alquran.DataQuranJuz30.Qs_aliklas_112Activity" />
        <activity android:name=".Alquran.DataQuranJuz30.Qs_alfalaq_113Activity" />
        <activity android:name=".Alquran.DataQuranJuz30.Qs_annas_114Activity" />
        <activity android:name=".Alquran.DataQuranJuz30.Qs_algasyiyah_88Activity" />
        <activity android:name=".DataQuiz.QuizJuz30.AnnabaQuizActivity" />
        <activity android:name=".DataQuiz.QuizJuz30.AnaziatQuizActivity" />
        <activity android:name=".DataQuiz.QuizJuz30.AbasaQuizActivity" />
        <activity android:name=".DataQuiz.QuizJuz30.AtakwirQuizActivity" />
        <activity android:name=".DataQuiz.QuizJuz30.AlinfitarQuizActivity" />
        <activity android:name=".DataQuiz.QuizJuz30.AlmuthafifinQuizActivity" />
        <activity android:name=".DataQuiz.QuizJuz30.AlinsyiqaqQuizActivity" />
        <activity android:name=".DataQuiz.QuizJuz30.AlburujQuizActivity" />
        <activity android:name=".DataQuiz.QuizJuz30.AttariqQuizActivity" />
        <activity android:name=".DataQuiz.QuizJuz30.AlalaQuizActivity" />
        <activity android:name=".DataQuiz.QuizJuz30.AlghasyiyahQuizActivity" />
        <activity android:name=".DataQuiz.QuizJuz30.AlfajrQuizActivity" />
        <activity android:name=".DataQuiz.QuizJuz30.AlbaladQuizActivity" />
        <activity android:name=".DataQuiz.QuizJuz30.AsysyamsQuizActivity" />
        <activity android:name=".DataQuiz.QuizJuz30.AdhdhuhaQuizActivity" />
        <activity android:name=".DataQuiz.QuizJuz30.AlinsyirahQuizActivity" />
        <activity android:name=".DataQuiz.QuizJuz30.AttinQuizActivity" />
        <activity android:name=".DataQuiz.QuizJuz30.AlalaqQuizActivity" />
        <activity android:name=".DataQuiz.QuizJuz30.AlqadrQuizActivity" />
        <activity android:name=".DataQuiz.QuizJuz30.AlbayyinahQuizActivity" />
        <activity android:name=".DataQuiz.QuizJuz30.AlzalzalahQuizActivity" />
        <activity android:name=".DataQuiz.QuizJuz30.AladiyatQuizActivity" />
        <activity android:name=".DataQuiz.QuizJuz30.AlqariahQuizActivity" />
        <activity android:name=".DataQuiz.QuizJuz30.AttakasurQuizActivity" />
        <activity android:name=".DataQuiz.QuizJuz30.AlasrQuizActivity" />
        <activity android:name=".DataQuiz.QuizJuz30.AlhumazahQuizActivity" />
        <activity android:name=".DataQuiz.QuizJuz30.AlfilQuizActivity" />
        <activity android:name=".DataQuiz.QuizJuz30.AlquraishQuizActivity" />
        <activity android:name=".DataQuiz.QuizJuz30.AlmaunQuizActivity" />
        <activity android:name=".DataQuiz.QuizJuz30.AlkautsarQuizActivity" />
        <activity android:name=".DataQuiz.QuizJuz30.AlkafirunQuizActivity" />
        <activity android:name=".DataQuiz.QuizJuz30.AnnasrQuizActivity" />
        <activity android:name=".DataQuiz.QuizJuz30.AllahabQuizActivity" />
        <activity android:name=".DataQuiz.QuizJuz30.AlikhlasQuizActivity" />
        <activity android:name=".DataQuiz.QuizJuz30.AlfalaqQuizActivity" />
        <activity android:name=".DataQuiz.QuizJuz30.AnnasQuizActivity" />
        <activity android:name=".Dasboard.HomeUstad.Home_UstadActivity" />
        <activity android:name=".Ustad_ProfilActivity" />
        <activity android:name=".Dasboard.HomeAdmin.Home_AdminActivity" />
        <activity android:name=".Profile.EditProfileActivity" />
        <activity android:name=".ModelCrud.MainActivity" />
        <activity android:name=".ModelCrud.FirebaseDBCreateActivity" />
        <activity android:name=".ModelCrud.FirebaseDBReadActivity" />
        <activity android:name=".ModelCrud.FirebaseAnalyticsActivity" />
        <activity android:name=".VideoChatViewActivity" />
        <activity android:name=".Qs_Alhaqqah_2Activity" />
        <activity android:name=".Setoran_HafalanActivity" />
        <activity android:name=".Edukasi.MetodeHafalanActivity" />
        <activity android:name=".Aktipitas.Alarm.AlarmActivity" />
        <activity android:name=".Musyawarah.Pesan.PesanWhatsAppActivity" />
        <activity android:name=".Login.Login_HomeUstad.LoginUstadActivity" />
        <activity android:name=".Login.Login_HomeUstad.RegisterUstadOneActivity" />
        <activity android:name=".Login.Login_HomeUstad.RegisterUstadTwoActivity" />
        <activity android:name=".Profile.MyProfileUstad.MyProfileActivity" />
        <activity android:name=".Profile.MyProfileUstad.EditProfileActivity" />
        <activity android:name=".Login.PilihLogin.PilihanLoginActivity" />
        <activity android:name=".Login.Login_HomeAdmin.LoginAdminActivity" />
        <activity android:name=".Login.Login_HomeUser.RegisterSantriTwoActivity" />
        <activity android:name=".Profile.MyProfileSantri.MyProfileSantriActivity" />
        <activity android:name=".Profile.MyProfileSantri.EditProfileSantriActivity" />
        <activity android:name=".JadwalSholat.MainSholatActivity" />
        <activity android:name=".Aktipitas.Remember.Main_AlarmActivity" />
        <activity android:name=".Profile.MyProfileAdmin.MyProfileAdminActivity" />
        <activity android:name=".Profile.MyProfileAdmin.EditProfileAdminActivity" />
        <activity android:name=".Alquran.DataQuranJuz30.Qs_annaba_78.Qs_Annaba2Activity" />
        <activity android:name=".Alquran.DataQuranJuz30.Qs_annaba_78.Qs_Annaba3Activity" />
        <activity android:name=".Alquran.DataQuranJuz30.Qs_annaba_78.Qs_annaba4Activity" />
        <activity android:name=".Alquran.DataQuranJuz30.Qs_annaziat_79.Qs_annaziat_2Activity" />
        <activity android:name=".Alquran.DataQuranJuz30.Qs_annaziat_79.Qs_annaziat_3Activity" />
        <activity android:name=".Alquran.DataQuranJuz30.Qs_annaziat_79.Qs_annaziat_4Activity" />
        <activity android:name=".Alquran.DataQuranJuz30.Qs_annaziat_79.Qs_annaziat_5Activity" />
        <activity android:name=".Alquran.DataQuranJuz30.Qs_abasa_80.Qs_abasa_2Activity" />
        <activity android:name=".Alquran.DataQuranJuz30.Qs_abasa_80.Qs_abasa_3Activity" />
        <activity android:name=".Alquran.DataQuranJuz30.Qs_abasa_80.Qs_abasa_4Activity" />
        <activity android:name=".Alquran.DataQuranJuz29.Qs_almulk_67.Qs_almulk_2Activity" />
        <activity android:name=".Alquran.DataQuranJuz29.Qs_almulk_67.Qs_almulk_3Activity" />
        <activity android:name=".Alquran.DataQuranJuz29.Qs_alqallam_68.Qs_alqallam_2Activity" />
        <activity android:name=".Alquran.DataQuranJuz29.Qs_alqallam_68.Qs_alqallam_3Activity" />
        <activity android:name=".Alquran.DataQuranJuz29.Qs_alqallam_68.Qs_alqallam_4Activity" />
        <activity android:name=".Alquran.DataQuranJuz29.Qs_alqallam_68.Qs_alqallam_5Activity" />
        <activity android:name=".Alquran.DataQuranJuz29.Qs_alhaqah_69.Qs_alhaqah_2Activity" />
        <activity android:name=".Alquran.DataQuranJuz29.Qs_alhaqah_69.Qs_alhaqah_3Activity" />
        <activity android:name=".Alquran.DataQuranJuz29.Qs_alhaqah_69.Qs_alhaqah_4Activity" />
        <activity android:name=".Alquran.DataQuranJuz29.Qs_alhaqah_69.Qs_alhaqah_5Activity" />
        <activity android:name=".Aktipitas.InfaqActivity"></activity>
    </application>

</manifest>